.breadcrumb {
  box-shadow: 0 1px #33333311;
  padding: 1em 9%;
}

.breadcrumb p {
  margin: 0;
  line-height: initial;
}

.breadcrumb p span a {
  margin-right: 0.3em;
  font-weight: 600;
  color: var(--color-primary-dark);
}

.breadcrumb p span i {
  position: relative;
  bottom: 0.25em;
  font-size: 0.5em;
}
