.front-page-banner {
  --header-gap: 180px;
  --banner-height: calc(100vw / 2);
  --banner-min-height: 550px;
  --banner-max-height: 750px;
  padding-top: var(--header-gap);
  height: var(--banner-height);
  min-height: var(--banner-min-height);
  max-height: var(--banner-max-height);
  background-image: url("../images/banner-background1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.front-page-banner__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-page-banner__content__img {
  height: 100%;
}

.front-page-banner__content__text {
  padding: 2em;
  opacity: 0;
}

.front-page-banner__content__text {
  animation-name: fade-upwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.front-page-banner__content__text .heading {
  font-size: 48px;
  font-style: italic;
  color: var(--color-primary);
}

.front-page-banner__content__text .heading span {
  color: var(--color-white);
}

.front-page-banner__content__text .paragraph {
  border-left: 3px solid var(--color-primary);
  margin: 1em 0;
  padding: 0.1em 1em;
  color: var(--color-white);
  font-size: 24px;
  font-weight: 300;
}

@media screen and (max-width: 980px) {
  .front-page-banner {
    padding-top: 2em;
    height: max-content;
    min-height: max-content;
    max-height: max-content;
  }
  .front-page-banner__content {
    flex-direction: column-reverse;
    gap: 2em;
    text-align: center;
    padding: 0 1em;
  }
  .front-page-banner__content__img {
    width: 80%;
    max-width: 400px;
  }
  .front-page-banner__content__text {
    padding: 0;
  }
  .front-page-banner__content__text .paragraph {
    border-left: none;
  }
}

@media screen and (max-width: 600px) {
  .front-page-banner__content__img {
    width: 60%;
    max-width: 400px;
  }
  .front-page-banner__content__text .heading {
    font-size: 28px;
  }
  .front-page-banner__content__text .heading span {
    font-size: 44px;
  }
  .front-page-banner__content__text .paragraph {
    font-size: 1.2rem;
  }
}
