.front-page-banner {
  --banner-height: calc(100vw / 2);
  --banner-min-height: 580px;
  --banner-max-height: 750px;
  position: relative;
  height: var(--banner-height);
  min-height: var(--banner-min-height);
  max-height: var(--banner-max-height);
}

.front-page-banner__bg-image {
  height: 100%;
  background-position: top;
}

.front-page-banner__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(var(--banner-height) - 180px);
  min-height: calc(var(--banner-min-height) - 180px);
  max-height: calc(var(--banner-max-height) - 180px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-page-banner__content__img {
  height: 100%;
  object-fit: contain;
}

.front-page-banner__content__text {
  padding: 2em;
}

.front-page-banner__content__text .heading {
  font-size: 48px;
  font-style: italic;
  color: var(--color-primary);
}

.front-page-banner__content__text .heading span {
  color: var(--color-white);
}

.front-page-banner__content__text .paragraph {
  border-left: 3px solid var(--color-primary);
  margin: 1em 0;
  padding: 0.1em 1em;
  color: var(--color-white);
  font-size: 24px;
  font-weight: 300;
}
