.front-page-section-one {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.94)
    ),
    url("../images/business.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 5%;
  overflow: hidden;
}

.front-page-section-one .subheading-container {
  opacity: 0;
}
.front-page-section-one .subheading-container.animate {
  animation-name: fade-leftwards;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.front-page-section-one .content {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2em;
}

.front-page-section-one .content__image {
  width: 100%;
}

.front-page-section-one .content__image > img {
  width: 100%;
  object-fit: contain;
}

.front-page-section-one .slider {
  --slider-height: 150px;
  --slide-width: 25%;
  --slide-length: 7; /* number of slides */
  --animation-speed: 40s;
  background: var(--color-white);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: var(--slider-height);
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.front-page-section-one .slider::before,
.front-page-section-one .slider::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 60px;
  z-index: 2;
  /* background-color: var(--color-white); */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.front-page-section-one .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.front-page-section-one .slider::before {
  left: 0;
  top: 0;
}

.front-page-section-one .slider > .slider__track {
  animation: scroll var(--animation-speed) linear infinite;
  display: flex;
  width: calc(var(--slide-width) * var(--slide-length) * 2);
  height: 100%;
}

.front-page-section-one .slider > .slider__track > .slide {
  height: 100%;
  width: var(--slide-width);
  padding: 20px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 980px) {
  .front-page-section-one .content {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 768px) {
  .front-page-section-one .slider > .slider__track {
    width: calc(33% * var(--slide-length) * 2);
  }

  .front-page-section-one .slider > .slider__track > .slide {
    width: 33%;
  }
}

@media screen and (max-width: 600px) {
  .front-page-section-one .slider > .slider__track {
    width: calc(50% * var(--slide-length) * 2);
  }

  .front-page-section-one .slider > .slider__track > .slide {
    width: 50%;
  }
}

@media screen and (max-width: 420px) {
  .front-page-section-one .slider > .slider__track {
    width: calc(100% * var(--slide-length) * 2);
  }

  .front-page-section-one .slider > .slider__track > .slide {
    width: 100%;
  }
}
