.front-page-section-six__content {
  padding: 7% 5%;
  background-repeat: repeat;
  background-image: linear-gradient(
      180deg,
      rgba(238, 238, 238, 0.94) 0%,
      #eee 100%
    ),
    url(../images/pattern-2.png);
}

.front-page-section-six__content .law-services-content {
  display: flex;
  gap: 2em;
}

.front-page-section-six__content .law-services-content .description-video {
  flex: 1;
}

.front-page-section-six__content .law-services-content .description-text {
  flex: 1;
}

.front-page-section-six__content
  .law-services-content
  .description-video
  iframe {
  max-width: 100%;
}

.front-page-section-six__content
  .law-services-content
  .description-video
  .subheading-container {
  margin-top: 30px;
  opacity: 0;
}

.front-page-section-six__content
  .law-services-content
  .description-video
  .subheading-container.animate {
  animation-name: fade-leftwards;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.front-page-section-six__content
  .law-services-content
  .description-video
  .subheading {
  font-size: 32px;
}

.front-page-section-six__content .law-services-content .description-text ul {
  --bullet-space: 25px;
  list-style-type: none;
  padding: 0;
  margin-left: var(--bullet-space);
}

.front-page-section-six__content
  .law-services-content
  .description-text
  ul
  > li {
  line-height: 1.6em;
  margin-bottom: 1em;
  position: relative;
}

.front-page-section-six__content
  .law-services-content
  .description-text
  ul
  > li:before {
  font-family: "FontAwesome";
  color: var(--color-primary-dark);
  font-size: 16px;
  content: "\f058";
  position: absolute;
  left: calc(var(--bullet-space) * -1);
  top: 1px;
}

@media screen and (max-width: 980px) {
  .front-page-section-six__content .law-services-content {
    display: block;
  }

  .front-page-section-six__content .law-services-content .description-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .front-page-section-six__content
    .law-services-content
    .description-video
    .subheading {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .front-page-section-six__content
    .law-services-content
    .description-video
    .subheading {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .front-page-section-six__content
    .law-services-content
    .description-video
    .subheading {
    font-size: 20px;
  }
}
