.front-page-section-five__content {
  padding: 100px 5%;
  overflow: hidden;
}

.front-page-section-five__content .heading {
  font-style: italic;
  opacity: 0;
}

.front-page-section-five__content .heading.animate {
  animation-name: fade-leftwards;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.front-page-section-five__content .estate-planning-content {
  display: flex;
  gap: 2em;
}

.front-page-section-five__content .estate-planning-content .description-text {
  flex: 1;
}

.front-page-section-five__content .estate-planning-content .description-image {
  flex: 1;
}

.front-page-section-five__content
  .estate-planning-content
  .description-image
  > img {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 980px) {
  .front-page-section-five__content .estate-planning-content {
    display: block;
  }

  .front-page-section-five__content .estate-planning-content .description-text {
    margin-bottom: 2em;
  }
}
