.generic-content.front-page-section-five__content {
  padding: 0;
}

.front-page-section-five__content h2 {
  font-size: 45px;
  line-height: 45px;
  color: var(--bg-color-black);
  font-family: Merriweather, Georgia, "Times New Roman", serif;
  font-style: italic;
}

.front-page-section-five__content span {
  color: #666d00;
}

.front-page-section-five__content .estate-planning-content {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 40px;
}

.front-page-section-five__content .estate-planning-content .description-text p {
  font-size: 16px;
  line-height: 26px;
  font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
  color: var(--color-text-h);
  padding: 12px;
}

.divider {
  padding: 10px;
}
