#scroll-to-top {
  position: fixed;
  bottom: 5em;
  right: 0;
  border-radius: 5px 0 0 5px;
  padding: 0.75em;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--color-white);
  cursor: pointer;
  transition: var(--transition-fade);
}

#scroll-to-top:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#scroll-to-top.hidden {
  right: -3em;
}
